<ion-header>

  <ion-navbar color="custom">
    <!-- <button style="color: white;font-size: 25px;" ion-button clear float-left (click)="backPage()" color="custom">
      <ion-icon name="arrow-round-back"></ion-icon>
    </button> -->
    <ion-title style="color: white;">Order Details</ion-title>
  </ion-navbar>

</ion-header>
<ion-content style="background: url(../assets/images/listback.jpeg) no-repeat;">



  <div>
    <ion-card >
      <ion-card-content>
        <ion-label style="color: #be901f;font-size: 18px;font-weight: 600;text-align: center;"> Order details</ion-label>
        <ion-row>
          <ion-col col-4>
            Bill NO
          </ion-col>
          <ion-col col-1>
            :
          </ion-col>
          <ion-col col-7>
            {{BillNo}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4>
            Date
          </ion-col>
          <ion-col col-1>
            :
          </ion-col>
          <ion-col col-7>
            {{OrdeDateStr  | date:'short'}}
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-4>
            Total Amount
          </ion-col>
          <ion-col col-1>
            :
          </ion-col>
          <ion-col col-7>
            {{ProductAmount | currency:'INR'}}
          </ion-col>
        </ion-row>
        <ion-label style="color: #be901f;font-size: 16px;margin-left: 5px;"> Order Items</ion-label>

        <ion-row  *ngFor="let s of products">
          <ion-col col-12>
            {{s.ProductName}}
          </ion-col>
        </ion-row>
        <div   *ngIf="this.usertype!='C'">
        <ion-label style="color: #be901f;font-size: 16px;margin-left: 5px;">Customer Details</ion-label>

       
        <ion-row>
          <ion-col col-4>
         Name
          </ion-col>
          <ion-col col-1>
            :
          </ion-col>
          <ion-col col-7>
            {{CustomerName}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4>
        Mobile No
          </ion-col>
          <ion-col col-1>
            :
          </ion-col>
          <ion-col col-7>
            {{MobileNo }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4>
       Address
          </ion-col>
          <ion-col col-1>
            :
          </ion-col>
          <ion-col col-7 style="word-break: break-all;">
            {{Address}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <button ion-button clear color="custom" float-right (click)="locateCustomer()">
              <ion-icon name="navigate"></ion-icon>&nbsp;
            Locate</button>
          </ion-col>
          
        </ion-row>
      </div>
      </ion-card-content>
    </ion-card>
  
  </div>
  <div  *ngIf="this.usertype!='C'" id="btnsubmit"
    style="padding: 5px; width: 100%;">
    <button ion-button block tappable style="background-color: #b8860b;" (click)="proceedtocheckout()">
      Delivery Complete
    </button>
  </div>
</ion-content>

<ion-footer>
  <footer></footer>
</ion-footer>