<ion-header style="background: #b8860b;">
  <header [title]="headerTitle"></header>
  <ion-row>
    <ion-col>
      <ion-list inset class="no-border" style="margin-top: 4px;width: 90%;margin-left: 20px;">
        <ion-item style="padding-left: 0px;">
          <ion-select id="ions" [(ngModel)]="signup.state" style="width: 100% !important;max-width:none !important ;"
            placeholder="Select Catagory">
            <ion-option *ngFor="let state of statelist" [value]="state.ID" (ionSelect)="selectEmployee($event, state)">
              {{state.Value}}</ion-option>
          </ion-select>

        </ion-item>

      </ion-list>
    </ion-col>

  </ion-row>
  <ion-searchbar style="width: 92%;border-radius: 5px;margin-left: 16px;background: none !important;"
    (ionCancel)="onCancel($event)" placeholder="Search Items" (ionInput)="getItemslist($event)"></ion-searchbar>

</ion-header>
<ion-content>
  <div class="labeltxrt" *ngIf="hidden">
    <ion-row>
      <ion-col>
        <ion-label class="montereyflf">Select Catagory for viewing list.</ion-label>
      </ion-col>
    </ion-row>
  </div>
  <div *ngFor="let r of cart">
    <ion-card>
      <ion-card-content style="padding: 0px 0px;">
        <ion-row style="width: 70%;float: left;">
          <ion-col col-12>
            <ion-label
              style="font-size: 25px;margin-top: -7px;color: black;font-weight: 400;float: left;font-family: -webkit-pictograph;">
              {{r.Name}}</ion-label>
          </ion-col>
          <ion-col col-12>
            <ion-label
              style="font-size: 25px;margin-top: -24px;color: #424242;font-weight: 400;float: left;font-family: none;">
              {{r.UnitsString}}</ion-label>
          </ion-col>
          <ion-col col-12>
            <ion-label
              style="font-size: 20px;margin-top: -24px;color: #6f6969 ;font-weight: 400;float: left;font-family: none;">
              {{r.Price | currency:'INR'}}</ion-label>
          </ion-col>
         
        </ion-row>
        <ion-row style="width: 30%;float: right;">
          <ion-col col-12>
            <img [src]="r.ImageByteArray1" onerror="this.onerror=null;this.src='../assets/images/noimage.jpg'"  style="width: 70px !important;height: 70px !important;" alt="" />
          </ion-col>
        </ion-row>
       
        <ion-row class="ion-align-items-center" style="    width: 30%;float: right;margin-right: -13px;">
          <div style="border: 2px solid #b8860b;border-radius: 10px;">
            <ion-col size="1" class="ion-align-self-center" style="    -webkit-flex-grow: 0;color: #b8860b;">
              <ion-icon name="remove-circle" slot="icon-only" (click)="removecart(r)"></ion-icon>
            </ion-col>

            <ion-col size="1" class="ion-align-self-center"
              style="flex-grow: initial;color: green;font-size: 16px;margin-top: -3px;font-weight: 500;">
              {{r.count}}
            </ion-col>



            <ion-col size="1" class="ion-align-self-center" style="-webkit-flex-grow: 0;color: #b8860b;">
              <ion-icon name="add-circle" slot="icon-only" (click)="addToCart(r)"></ion-icon>
            </ion-col>
          </div>
          <!-- <ion-col size="2" class="ion-align-self-center" *ngIf="r.count>0" style="margin-top: -3px;">
            <ion-icon name="md-trash" (click)="gotodelete(r)" role="img" class="icon icon-md ion-ios-trash"
              aria-label="add" style="font-size: 20px;color: red;float: right"></ion-icon>

          </ion-col> -->

        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
  <div id="btnsubmit" [ngStyle]="{'display':cart.length>0 ? 'inline': 'none'}"
    style="height: 3.6rem;padding: 5px; width: 100%;float: left;">
    <button ion-button block tappable style="background-color: #b8860b;" (click)="proceedtocheckout()">
      PROCEED
    </button>
  </div>
</ion-content>