<ion-header>
  <ion-navbar color="custom">
    <ion-title>Job Details</ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-card *ngFor="let j of jobDetails">
      <ion-card-content>
        <ion-row>
          <ion-col col-4>
            Service
          </ion-col>
          <ion-col col-1>
            :
          </ion-col>
          <ion-col col-7>
            <span>{{j.service}}</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4>
            Sub Service
          </ion-col>
          <ion-col col-1>
            :
          </ion-col>
          <ion-col col-7>
            {{j.sub_service}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4>
            Name
          </ion-col>
          <ion-col col-1>
            :
          </ion-col>
          <ion-col col-7>
            {{j.contact_name}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4>
            Phone
          </ion-col>
          <ion-col col-1>
            :
          </ion-col>
          <ion-col col-7>
            {{j.contact_phone}}
          </ion-col>
        </ion-row>
        <ion-row *ngIf="j.description">
          <ion-col col-4>
            Description
          </ion-col>
          <ion-col col-1>
            :
          </ion-col>
          <ion-col col-7>
            {{j.description}}
          </ion-col>
        </ion-row>
        <ion-row *ngIf="j.attachment">
          <ion-col col-4>
            Attachment
          </ion-col>
          <ion-col col-1>
            :
          </ion-col>
          <ion-col col-7>
            {{j.attachment}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4>
            Address
          </ion-col>
          <ion-col col-1>
            :
          </ion-col>
          <ion-col col-7>
            {{j.address}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4>
            Scheduled On
          </ion-col>
          <ion-col col-1>
            :
          </ion-col>
          <ion-col col-7>
            {{j.schedule_date}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4>
            Completed On
          </ion-col>
          <ion-col col-1>
            :
          </ion-col>
          <ion-col col-7>
            {{j.completed_date}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4>
            Status
          </ion-col>
          <ion-col col-1>
            :
          </ion-col>
          <ion-col col-7>
            {{j.current_status}}
          </ion-col>
        </ion-row>
      </ion-card-content>

    </ion-card>
  </ion-list>
</ion-content>