<ion-menu [content]="content" type="overlay" >
    <!-- <ion-header>
      <ion-toolbar color="custom">
        <ion-title>Quick Worker</ion-title>
      </ion-toolbar>
    </ion-header> -->
  
    <ion-content>
        <img style="padding: 16px;" [src]="AppLogo"/>
        <!-- <ion-row class="row" style="align-items:center;">
          
          <ion-col class="col" style="text-align: center;" col-12="">
            <img class="user-avatar round" onerror="this.src='../assets/images/repair.png'" src="../assets/images/avatar.png" style="width: 80px;height: 80px;">
          </ion-col>
          <ion-col  col-10 *ngIf="UserName">
            <h3 class="name" style="padding-left: 40px;text-align:center;margin-top: 0;margin-bottom: 5px;text-transform: capitalize;">{{UserName.length > 20 ? UserName.substring(0,20)+"..." : UserName}}</h3>

          </ion-col>
            <ion-icon name="md-open"  float-right style="font-size: 1.5rem;
            color: black;" (click)="OpenProfilePage()"></ion-icon>
        </ion-row> -->
     
      <ion-list>
        <div [ngClass]="p.sublist!='R' && p.sublist!='L' ? '' : 'bgclass'"  *ngFor="let p of pages"  ion-item  (click)="openPage(p)">
          
            <ion-icon [name]="p.icon"  float-left color="custom"></ion-icon>&nbsp;
            
            <ion-icon name="md-arrow-dropdown"  *ngIf="p.sublist=='R' || p.sublist=='L'" float-right style="font-size: 2.5rem;
            color: black;"></ion-icon>&nbsp;

         <span  *ngIf="p.sublist!='R' && p.sublist!='L'"> {{p.title}}</span>
         <span  *ngIf="p.sublist=='R'" > {{p.title}}</span>
         <span   *ngIf="p.sublist=='L'"> {{p.title}}</span>
          <!-- <ion-list *ngFor="let r of rsublist  let i=index" > -->
            <ion-item-group  *ngFor="let r of rsublist" submenu [class.visible]="rshowSubmenu">
            <button  *ngIf="p.sublist=='R'"    ion-item  (click)="openPage(r)">
                <ion-icon [name]="r.icon" float-left color="custom"></ion-icon>&nbsp;
              {{r.title}}
            </button>
            </ion-item-group>   
          <!-- <ion-list *ngFor="let l of lsublist"> -->
            <ion-item-group *ngFor="let l of lsublist" submenu [class.visible]="lshowSubmenu">
            <button  *ngIf="p.sublist=='L'"    ion-item  (click)="openPage(l)">
                <ion-icon [name]="l.icon" float-left color="custom"></ion-icon>&nbsp;
              {{l.title}}
            </button>
            </ion-item-group>
          </div>
      </ion-list>
    </ion-content>
  
  </ion-menu>
  
  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>