page-notifications {
    p{
        font-weight: lighter !important;
    }
    .logo {
        width: 30%;
        height: 20px;
        background: url("../assets/images/logo22.png") no-repeat;
      }    
}
