page-credcustomerpaymentreport {
    ion-calendar .calendar-row .select {
        background: #b8860b;
    }
   .sCard{
       background-color: #b8860b;
   }
  
   ion-grid.grid {
    margin-bottom: -20px;
}
}
