<ion-header>
  <!-- <header [title]="headerTitle"></header> -->
  <ion-navbar color="custom">
    <button ion-button menuToggle >
        <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Catagory List</ion-title>
    <ion-buttons right>
        <button ion-button icon-only (click)="opencatagorypage()" style="font-size: larger;">
            <ion-icon name="ios-add-circle-outline"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content style="background: url(../assets/images/listback.jpeg) no-repeat;">


<img *ngIf="responsecount==0" style="display: block;margin-left: auto;margin-right: auto;" [src]="'assets/images/norecords.png'" alt=""/>

<div style="margin-top: 10px;">
    <ion-grid *ngFor="let s of products">
      <ion-card>
        <ion-card-content>
          <ion-row>
            
            <ion-col col-12>
              <ion-icon (click)="gotoedit(s.ID)" name="md-open" role="img" class="icon icon-md ion-ios-open" aria-label="add" style="font-size: 20px;color: #b8860b;float: right;margin-left: 15px;"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-4>
             Catagory
            </ion-col>
            <ion-col col-1>
              :
            </ion-col>
            <ion-col col-7>
              {{s.Value}}
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-4>
              Code
            </ion-col>
            <ion-col col-1>
              :
            </ion-col>
            <ion-col col-7>
              {{s.Code}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-4>
              Description
            </ion-col>
            <ion-col col-1>
              :
            </ion-col>
            <ion-col col-7>
              Description
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
      
    </ion-grid>
  </div>

</ion-content>

<ion-footer>
  <footer></footer>
</ion-footer>