page-service-job-history {
    h2{
        color: #b8860b !important;
        text-align: center;
        
    }
     .scroll-content {
         padding: 10px 5px !important; 
    }
    .card-content-md{
        padding: 10px 5px !important; 
    }
    a{
        color: #b8860b;
        text-decoration:none;
    }
    ion-grid.grid {
        margin-top: -17px;
    }
 .textcolourcss{
    color: green;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
 }

}
