<ion-header>
  <header [title]="headerTitle"></header>
</ion-header>
<ion-content style="background: url(../assets/images/listback.jpeg) no-repeat;">

<img *ngIf="responsecount==0" style="display: block;margin-left: auto;margin-right: auto;" [src]="'assets/images/norecords.png'" alt=""/>
  
<div *ngIf="!hidden">
  <ion-row style="float: right;" *ngIf="totalval>0">

  <ion-col>
    <p>Total Sales-
      <strong>{{totalval  | currency:'INR'}}</strong>
    </p>
  </ion-col>
</ion-row>
<div *ngIf="totalval>0">
    <ion-grid *ngFor="let s of products"  >
      <ion-card>
        <ion-card-content>
        
          <ion-row>
            <ion-col col-4>
             Order ID
            </ion-col>
            <ion-col col-1>
              :
            </ion-col>
            <ion-col col-7>
              {{s.OrderNo }}
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-4>
              Order Date
            </ion-col>
            <ion-col col-1>
              :
            </ion-col>
            <ion-col col-7>
              {{s.OrderDate | date:'short'}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-4>
              Order Amount
            </ion-col>
            <ion-col col-1>
              :
            </ion-col>
            <ion-col col-7>
              {{s.OrderAmount}}

            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
      
    </ion-grid>
    
  <ion-row>
    <ion-col>
      <button ion-button color="custom" block type="submit" (click)="DayendProcess()">Dayend Process</button>
    </ion-col>
  </ion-row>
  </div>
</div>
</ion-content>